@inherits HercFooterModel

<footer id="@Id" class="row footer text-center">
  <div class="col">
    <div class="row align-items-center">
      <div class="col">
        <HercLogo width="20%" />
      </div>
      <div class="col">
        <h5>Company</h5>
      </div>
      <div class="col">
        <h5>Connect</h5>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div>
          <a href="https://herc.one/privacy">Privacy Policy</a>
        </div>
        <div>
          <a href="https://herc.one/terms">Terms of Use</a>
        </div>
        <div>
          <a href="https://herc.one/metamask">Metamask</a>
        </div>
        <div>
          <a href="https://herc.one/faq">F.A.Q</a>
        </div>
      </div>
      <div class="col">

        <div>
          <a href="https://herc.one/#team-section">Team</a>
        </div>
        <div>
          <a href="https://herc.one/#contact-section">Contact</a>
        </div>
        <!-- <div>
          <a href="">Careers</a>
      </div> -->
        <div>
          <a href="https://herc.one/whitepaper">Whitepaper</a>
        </div>
        <div>
          <a href="https://github.com/hercone" target="_blank">GitHub</a>
        </div>
      </div>
      <div class="col">

        <div>
          <a href="https://www.facebook.com/HERCTOKEN/" target="_blank">Facebook</a>
        </div>
        <div>
          <a href="https://twitter.com/HERC_Hercules" target="_blank">Twitter</a>
        </div>
        <div>
          <a href="https://www.instagram.com/herctoken/" target="_blank">Instagram</a>
        </div>
        <div>
          <a href="https://www.linkedin.com/company/herctoken" target="_blank">LinkedIn</a>
        </div>
        <div>
          <a href="https://www.youtube.com/channel/UCzIicy2PoslRoskXctJzeGw" target="_blank">YouTube</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <p>Copyright HERC All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>

<style scoped>
  #@Id  {
    font-size: 1em;
    font-weight: bold;
    color: @ColorPalette.HercSaffron;
    background-color: @ColorPalette.HercSapphire;
  }

  #@Id h5{
    text-transform: uppercase;
    font-weight: bold;
  }

  #@Id a {
    color: white;
    font-size: smaller;
    font-weight: bold;
  }

</style>

