@inherits BlazorLayoutComponent
@using Herc.Pwa.Client.Layouts.HercLayout2.HercHeader
  <div id="HercLayout" class="container-fluid">
    <HercHeader2/>
    <main class="content px-3 text-dark bg-white">
      @Body
    </main>
  </div>

  <style>
    body {

    }
    #HercLayout {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }
    main {
      flex: 1;
    }
  </style>