@inherits IconBarModel
<img src="https://cdn.jsdelivr.net/open-iconic/1.1.0/sprite/open-iconic.min.svg" class="iconic-sprite" style="display:none;" />

<div class="d-flex flex-row-reverse">
  @*<div class="d-none align-items-center p-1 m-2 border border-secondary">
    <NavLink class="nav-link nav-item text-light" href="Settings">
      <span class="oi oi-cog" aria-hidden="true"></span>
    </NavLink>
  </div>*@
  <div class="d-flex align-items-center p-1 m-2 border border-secondary">
    <HamburgerMenu />
  </div>
  @*<div class="d-none align-items-center p-1 m-2 border border-secondary">
    <MiniBalance />
  </div>*@
</div>