@page "/changePassword"
@inherits ChangePasswordModel

<div class="container-fluid">
  <h1>@ApplicationState.Name</h1>
  <h1>ChangePass Form will be here</h1>
  <p> Get content for home page </p>

</div>

<div id="@Id" class="text-center">
  <br />
  <form onsubmit="@Send">
    <div class="form-group">
      <label for="newPassword">Enter New Passoword</label>
      <input class="form-control" id="NewPassword" bind="@NewPassword" placeholder="Enter New Password" />
    </div>
    
    <div class="form-group">
      <label for="ConfirmNewPass">Confirm New Password</label>
      <input class="form-control" id="ConfirmNewPass" type="text"  placeholder="0.01234" />
    </div>
    <button type="submit" class="btn btn-dark">Change</button>
  </form>
  </div>
  <br />

  <style></style>
