@page "/Validate"
@inherits BaseComponent

<div class="embed-responsive embed-responsive-1by1">
  <iframe id="HiprFrame" class="embed-responsive-item" src="https://hipr.one" allowfullscreen scrolling="no"></iframe>
</div>

<style></style>