@page "/Validate"
@inherits BaseComponent

<div id="@Id">
  <iframe id="HiprFrame" src="https://hipr.one" allowfullscreen scrolling="no"></iframe>
</div>

<style>
  #@Id  {
    width: 100%;
    height: 100%;
  }

  #@Id iframe {
    display: block;
    height: 100%;
    border: 0;
    width: 100%;
  }
</style>