@page "/wallet/{EdgeCurrencyWalletEncodedId}/Receive"
@inherits WalletReceivePageModel

<div class="text-center">
  <h1>@WalletName</h1>

  <QrCode Text="@ReceiveAddress" />

  <div>Your Receiving Wallet Address</div>
  <div>@ReceiveAddress</div>

  <button class="btn btn-primary" onclick="@CopyToClipboardAsync"><span class="oi oi-clipboard">Copy to Clipboard</span></button>

</div>

<style>
</style>