@page "/wallet/{EdgeCurrencyWalletEncodedId}/Receive"
@inherits WalletReceivePageModel

<div class="text-center">
  <h1>Wallet Name </h1>

  <QrCode Text="@ReceiveAddress" />

  <div>Your Receiving Wallet Address</div>
  <div>@ReceiveAddress</div>

  <button onclick="@CopyToClipboardAsync">Copy</button>

</div>

<style>
</style>