@page "/wallet"
@inherits WalletPageModel

<div class="text-center">
  @if(EdgeCurrencyWallet != null)
  {
    <Wallet EdgeCurrencyWallet="@EdgeCurrencyWallet" />  
  }else
  {
    <div>No Wallet Yet</div>
  }

</div>
<style>
</style>
