@page "/wallet/{EdgeCurrencyWalletEncodedId}"
@inherits WalletPageModel

<div class="text-center">
  <h1>@EdgeCurrencyWallet.Name</h1>
  <Wallet EdgeCurrencyWallet="@EdgeCurrencyWallet" />
</div>
<style>
</style>
