@inherits BaseComponent

<div id="@Id" class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="oi oi-menu" aria-hidden="true"></span>
    @*<IconicMenu Size="32" FillColor="@ColorPalette.HercSaffron" />*@
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
    <NavLink class="nav-link nav-item" href="Assets/Create">
      <span class="oi oi-media-record" aria-hidden="true"></span> Register Asset
    </NavLink>
    <NavLink class="nav-link nav-item" href="SupplyChain">
      <span class="oi oi-loop" aria-hidden="true"></span> Supply Chain
    </NavLink>
    <NavLink class="nav-link nav-item" href="Track">
      <span class="oi oi-map" aria-hidden="true"></span> Track
    </NavLink>
    <NavLink class="nav-link nav-item" href="Validate">
      <span class="oi oi-pulse" aria-hidden="true"></span> Validate
    </NavLink>
    <NavLink class="nav-link nav-item" href="Wallet">
      <span class="oi oi-dollar" aria-hidden="true"></span> Wallet
    </NavLink>
  </div>
</div>

<style>
  #@Id > button {
    border: none;
    background:transparent;
  }

</style>

@*<style>

  #@Id .nav-item {
    .nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
  }

  #@Id .nav-item:first-of-type {
    padding-top: 1rem;
  }

  #@Id .nav-item:last-of-type {
    padding-bottom: 1rem;
  }

  #@Id .nav-item a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
  }

  #@Id .nav-item a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
  }

  #@Id .nav-item a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
  }
</style>*@


@functions {

}