@inherits BaseComponent
@using  Herc.Pwa.Client.Pages

<div id="@Id" class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="oi oi-menu" aria-hidden="true"></span>
    @*<IconicMenu Size="32" FillColor="@ColorPalette.HercSaffron" />*@
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
    <NavLink class="nav-link nav-item" href="Assets/Create">
      <span class="oi oi-media-record" aria-hidden="true"></span> Register Asset
    </NavLink>
    <NavLink class="nav-link nav-item" href="SupplyChain">
      <span class="oi oi-loop" aria-hidden="true"></span> Supply Chain
    </NavLink>
    <NavLink class="nav-link nav-item" href="Track">
      <span class="oi oi-map" aria-hidden="true"></span> Track
    </NavLink>
    <NavLink class="nav-link nav-item" href="Validate">
      <span class="oi oi-pulse" aria-hidden="true"></span> Validate
    </NavLink>
    <NavLink class="nav-link nav-item" href="@WalletsPageModel.Route">
      <span class="oi oi-dollar" aria-hidden="true"></span> Wallets
    </NavLink>
    <NavLink class="nav-link nav-item" href="@LogoutPageModel.Route">
      <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
    </NavLink>
  </div>
</div>

<style>
  #@Id > button {
    border: none;
    background:transparent;
  }

</style>
