// Custom.scss

$enable-caret: false;
// Overload variables here.

// Option A: Include all of Bootstrap
@import "../bootstrap/scss/bootstrap";

// Option B: Include parts of Bootstrap

/*// Required
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";

// Optional
@import "../bootstrap/scss/reboot";
@import "../bootstrap/scss/type";
@import "../bootstrap/scss/images";
@import "../bootstrap/scss/code";
@import "../bootstrap/scss/grid";*/
