@inherits MiniBalanceModel

<div class="d-flex flex-row">
  <div>
    <span>@DisplayBalance:</span>
  </div>
  <div>
    @CurrencyCode
  </div>
  <div>
    <HercButtonIcon Size="1em" FillColor="@ColorPalette.HercSaffron" />
  </div>
</div>

<style></style>