@inherits BaseComponent

<div class="d-flex flex-row">
  <div>
    <span>@Balance:</span>
  </div>
  <div>
    @CurrencyCode
  </div>
  <div>
    <HercButtonIcon Size="1em" FillColor="@ColorPalette.HercSaffron" />
  </div>
</div>

<style></style>

@functions {
  public string Balance { get; set; } = "500";
  public string CurrencyCode { get; set; } = "HERC";
  public BlazorComponent Component { get; set; }
}