@inherits BaseComponent
<div id="@Id">
  <img src="/images/HercLogo2.svg" class="m-2"/>
</div>

@functions {
  [Parameter] public string width { get; set; } = "200px";
}

<style>
  #@Id img {
    width: 100%;
    height: auto;
    max-height: 80px;
    min-width: 60px;
  }
</style>