@page "/home"
@layout HercPwa2.Client.Shared.HercLayout.HercLayout
@inherits HomeModel

<h1>@ApplicationState.Name</h1>

<Store />
<Hipr />
<BlockChain />
<IconBar/>
<IconBar IconFillColor="blue"/>
<IconBar IconFillColor="green" IconSize="32"/>