@inherits EdgeTransactionListModel
@using Herc.Pwa.Client.Features.Edge.State

<table id="EdgeTransactionList" class="table table-bordered table-striped w-100" >
  <caption align="top">Recent Transactions</caption>
  <tbody>
    @foreach (var edgeTransaction in EdgeTransactions)
    {
      <EdgeTransactionComponent EdgeTransaction="edgeTransaction" />
    }
  </tbody>
</table>