
@inherits EdgeTransactionComponentModel
@using Herc.Pwa.Client.Features.Edge.State

<div id="@Id">

  <div class="d-flex flex-column align-items-center">
    <h5>@EdgeTransaction.Date</h5>
    <h3>@EdgeTransaction.CurrencyCode</h3>
    
  </div>
  </div>
