@inherits WalletModel

<div>EdgeCurrencyWallet Component</div>
<div>@EdgeCurrencyWallet.SelectedCurrencyCode</div>

  @foreach (var b in EdgeCurrencyWallet.Balances)
  {
    <Balance Balance="@b.Value" CurrencyCode="@b.Key"/>
  }
