@inherits WalletListModel
<div id="@Id">
  <ul>
    @foreach (var w in EdgeCurrencyWallets)
    {
      <li>
        <WalletItem EdgeCurrencyWallet="@w" />
      </li>
    }
  </ul>
</div>

<style>
  #@Id > ul {
    list-style-type:none;
  }
</style>