@inherits WalletListModel
<div id="@Id">
  @foreach (var wallet in EdgeCurrencyWallets)
  {
    <WalletItem EdgeCurrencyWallet="@wallet" />
  }
</div>

<style>
  #@Id > ul {
    list-style-type:none;
  }
</style>