@inherits HercLayoutModel

<div id="HercLayout" class="container-fluid">
  <HercHeader />
  <div class="row flex-fill">
    @*<SideBar />*@
    <main class="content col px-0 text-dark bg-white">
      @Body
    </main>
  </div>
</div>

<style>
  body {
  }

  #HercLayout {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1;
  }
</style>