@inherits BaseComponent
@using  Herc.Pwa.Client.Pages
<div class="MenuItems">
  @*<NavLink class="nav-link nav-item d-none" href="Assets/Create">
    <span class="oi oi-media-record" aria-hidden="true"></span> Register Asset
  </NavLink>
  <NavLink class="nav-link nav-item d-none" href="SupplyChain">
    <span class="oi oi-loop" aria-hidden="true"></span> Supply Chain
  </NavLink>
  <NavLink class="nav-link nav-item d-none" href="Track">
    <span class="oi oi-map" aria-hidden="true"></span> Track
  </NavLink>
  <NavLink class="nav-link nav-item" href="Validate">
    <span class="oi oi-pulse" aria-hidden="true"></span> Validate
  </NavLink>*@
  <NavLink class="nav-link nav-item" href="@WalletPageModel.Route">
    <span class="oi oi-dollar" aria-hidden="true"></span> Wallet
  </NavLink>
</div>

<style>

</style>
