@inherits BlazorLayoutComponent
  <div id="HercLayout" class="container-fluid">
    <HercHeader />
    <main class="content px-4 text-light bg-dark">
      @Body
    </main>
    <HercFooter />
  </div>

  <style>
    body {

    }
    #HercLayout {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }
    main {
      flex: 1;
    }
  </style>