@inherits HercButtonIconModel

<svg id="@Id" xmlns="http://www.w3.org/2000/svg" width="@Size" height="@Size" viewBox="0 0 37.11 37.11">
  <title>H button</title>
  <g id="Layer_2" data-name="Layer 2">
    <g id="Main_assets" data-name="Main assets">
      <g id="H_circle" data-name="H circle" class="cls-1">
        <path class="cls-2" d="M18.55,0A18.55,18.55,0,1,0,37.11,18.55,18.55,18.55,0,0,0,18.55,0Zm0,32.82A14.27,14.27,0,1,1,32.82,18.55,14.29,14.29,0,0,1,18.55,32.82Z" />
        <path class="cls-2" d="M18.55,6.58a12,12,0,1,0,12,12A12,12,0,0,0,18.55,6.58ZM24,25.66H21.47V19.12H15.64v6.54H13.08V11.44h2.56v6.11h5.83V11.44H24Z" />
      </g>
    </g>
  </g>
</svg>


<style>
  #@Id .cls-1 {
    opacity: 0.3;
  }

  #@Id .cls-2 {
    fill: @FillColor;
  }
</style>