@page "/edge"
@inherits EdgeModel

<h1>Edge Login Page</h1>

<button class="btn btn-primary" onclick="@InitializeEdge">Initialize Edge</button>
<button class="btn btn-primary" onclick="@ShowLoginWindow"> Open Edge Login Frame </button>
