@inherits BaseComponent
<header id="GlobalHeader" class="row px-4">
  <div class="col">
    <Account />
  </div>
  <div class="col mx-auto">
    <NavLink class="nav-link" href="/" Match=NavLinkMatch.All>
      <HercLogo />
    </NavLink>
  </div>
  <div class="col">
    <div class="row">
      <div class="ml-auto">
        <IconBar IconFillColor="#5677A4" />
      </div>
    </div>
    <div class="row">
      <div class="ml-auto">
        <Search />
      </div>
    </div>
  </div>
</header>

<style>
  #GlobalHeader {
    background-color: #072F55;
    border-bottom: 1px solid #d6d5d5;
  }
</style>